@import "../../styles/mixins.scss";

.player {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 300px;
  background-color: rgb(182,179, 174, 0.8);

  @include dFlex($jc: flex-start, $ai: center, $fd: row, $g: 0px);
  img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 100%;
  }

  span {
    font-size: 32px;
    margin-left: 16px;
  }
}

.player-active{
  background-color: rgb(255,160, 0, 0.9) !important;
}