@import '../../styles/mixins.scss';

.start-screen{
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  max-width: 100%;
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0px);

  >img {
    height: 100vh;
  }

}

.start-label-box{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 180px;
  @include dFlex($jc: center, $ai: center, $fd: row, $g: 0px);

  >img{
    width: 25vw;
    height: auto;
    
    &:hover{
      filter: brightness(1.2);
      cursor: pointer;
    }

  }

}